gradio>=5.31.0
openai-whisper
torch
torchaudio
transformers
accelerate
sentencepiece
ffmpeg-python
moviepy
opencv-python
numpy
scipy
soundfile
librosa
loguru
python-dotenv
huggingface_hub
TTS
pyannote.audio
